{% capture footer_contents %}
  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}. {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
      {% if site.enable_flag_counter and site.flag_counter_id %}
        <div class="text-center mt-3">
          <a href="https://info.flagcounter.com/{{ site.flag_counter_id }}">
            <img src="https://s11.flagcounter.com/count2/{{ site.flag_counter_id }}/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0">
          </a>
        </div>
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
      {% if site.enable_flag_counter and site.flag_counter_id %}
        <div class="text-center mt-3">
          <a href="https://info.flagcounter.com/{{ site.flag_counter_id }}">
            <img src="https://s11.flagcounter.com/count2/{{ site.flag_counter_id }}/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0">
          </a>
        </div>
      {% endif %}
    </div>
  </footer>
{% endif %}
